.divede {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 600ms;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 0px;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffffcc;
  transform: none;
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 600ms;
  padding: 0px;
}
.freeBoxscrolledState {
  width: 100%;
  background: #ffffffcc;
  min-width: 0;
}
