.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-dQNgeh7VKeEv);
  font-family: var(--token-xSgn8yTNO6rx);
  font-size: var(--token-LCBz1CFD34A8);
  line-height: var(--token-hAItUMCgYnjW);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-lVRCD6jmMVUM);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Dc8uUDBFNPLa);
  outline-offset: 1px;
  outline-color: var(--token-AQdJDN54RGFX);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ExyQadaqOMG-);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zMRBpRZCf3S7);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-D9jQwkIMNV73);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-1bojyb0uOBTk);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-9MnQgWPcj-cY);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-EV9-2r68GREo);
  font-size: var(--token-uCN1JBlh68to);
  column-gap: var(--token-Dc8uUDBFNPLa);
  row-gap: 0px;
  border-radius: var(--token-w0H1lOfrz1Ex);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-uCN1JBlh68to);
  line-height: var(--token-EV9-2r68GREo);
  column-gap: var(--token-w0H1lOfrz1Ex);
  row-gap: 0px;
  border-radius: var(--token-w0H1lOfrz1Ex);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-CkbfDc5NaEEL);
  line-height: var(--token-bh29m8AndOZy);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-CkbfDc5NaEEL);
  line-height: var(--token-bh29m8AndOZy);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-UXY2OoUvbyz7);
  border-radius: var(--token-lVRCD6jmMVUM);
}
.softBackgroundcolor_neutral {
  background: var(--token-mj-Rkl9D5Uib);
}
.softBackgroundcolor_muted {
  background: var(--token-KIojO78brd6j);
}
.softBackgroundcolor_success {
  background: var(--token--J8Bgc6XyTBT);
}
.softBackgroundcolor_warning {
  background: var(--token-vYinoAMSMKGR);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-utZLmdQJK886);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-lVRCD6jmMVUM);
  border: 0px solid var(--token-jRyuecnk02A7);
}
.bordercolor_neutral {
  border-color: var(--token-f7fAtkZiQpm1);
}
.bordercolor_muted {
  border-color: var(--token-etiVbPzLoHPU);
}
.bordercolor_success {
  border-color: var(--token-jg_7p7ptnka8);
}
.bordercolor_warning {
  border-color: var(--token-kBGhVzO12Zo1);
}
.bordercolor_errorDestructive {
  border-color: var(--token-8hBVeU9iIVzH);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-lVRCD6jmMVUM);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-s6QzPBmEMa6K);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-qc-_vvn1BAsp);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-pss5lofPovTB);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__uRdbx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-lVRCD6jmMVUM);
  min-width: 0;
  min-height: 0;
  padding: var(--token-lVRCD6jmMVUM) var(--token-db5Hn173wAmR);
}
.freeBoxsize_extraSmall__uRdbxuMsA0 {
  padding: var(--token-w0H1lOfrz1Ex) var(--token-lVRCD6jmMVUM);
}
.freeBoxsize_small__uRdbxZbc0P {
  padding: var(--token-lVRCD6jmMVUM) var(--token-dQNgeh7VKeEv);
}
.freeBoxsize_large__uRdbxNLn {
  padding-top: var(--token-w0H1lOfrz1Ex);
  padding-bottom: var(--token-w0H1lOfrz1Ex);
}
.freeBoxsize_extraLarge__uRdbxE0Oj3 {
  padding-left: var(--token-0JSKq_uW1C9i);
  padding-right: var(--token-0JSKq_uW1C9i);
}
.freeBoxroundedFull__uRdbxSfkE {
  padding-right: var(--token-0JSKq_uW1C9i);
  padding-left: var(--token-0JSKq_uW1C9i);
}
.freeBox__eMv2H {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__eMv2Hg5ZjB {
  display: flex;
}
.slotTargetStart {
  color: var(--token-1VYSwqA0jxu6);
}
.slotTargetStartcolor_neutral {
  color: var(--token-1jN2f-omuJCH);
}
.slotTargetStartcolor_muted {
  color: var(--token-jxbEXVl3_tXH);
}
.slotTargetStartcolor_success {
  color: var(--token-GbOe2oYS6vTV);
}
.slotTargetStartcolor_warning {
  color: var(--token-TcixoNA4XOMb);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-tL--PlvJofJC);
}
.slotTargetStarttype_soft {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetStarttype_bordered {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-uCN1JBlh68to);
}
.slotTargetStartsize_small {
  font-size: var(--token-uCN1JBlh68to);
}
.slotTargetStartsize_large {
  font-size: var(--token-CkbfDc5NaEEL);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-CkbfDc5NaEEL);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.svg___9HoFh {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-1VYSwqA0jxu6);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-1jN2f-omuJCH);
}
.slotTargetLabelcolor_muted {
  color: var(--token-jxbEXVl3_tXH);
}
.slotTargetLabelcolor_success {
  color: var(--token-GbOe2oYS6vTV);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TcixoNA4XOMb);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-tL--PlvJofJC);
}
.slotTargetLabeltype_soft {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetLabeltype_bordered {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.text__qMgki {
  white-space: pre;
}
.freeBox__i7Oe {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__i7OEu7MwN {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-1VYSwqA0jxu6);
}
.slotTargetEndcolor_neutral {
  color: var(--token-1jN2f-omuJCH);
}
.slotTargetEndcolor_muted {
  color: var(--token-jxbEXVl3_tXH);
}
.slotTargetEndcolor_success {
  color: var(--token-GbOe2oYS6vTV);
}
.slotTargetEndcolor_warning {
  color: var(--token-TcixoNA4XOMb);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-tL--PlvJofJC);
}
.slotTargetEndtype_soft {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetEndtype_bordered {
  color: var(--token-50_5vt2QifvV);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-uCN1JBlh68to);
}
.slotTargetEndsize_small {
  font-size: var(--token-uCN1JBlh68to);
}
.slotTargetEndsize_large {
  font-size: var(--token-CkbfDc5NaEEL);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-CkbfDc5NaEEL);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-PYmEy1YXqujg);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-Hh3TTjCPe3s-);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-ZNv5xBYLvF7E);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-HfHWhbuIVcMJ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-S_vzCj-RbnFZ);
}
.svg__pgIlN {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
