.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___5WsgL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 300vh;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.scrollPlayVideo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__dt4Zt {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 40px;
  z-index: 2;
  min-width: 0;
  min-height: 0;
  padding: 0px 160px;
}
@media (max-width: 930px) {
  .freeBox__dt4Zt {
    animation: none;
    height: 700px;
  }
}
.freeBox__b7Teb {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 32%;
  height: 52%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__or0JW {
  animation: none;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 336px;
  height: 326px;
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 2;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__pAavd {
  animation: none;
  position: absolute;
  top: 19px;
  left: 20px;
  max-width: 100%;
  height: 326px;
  width: 336px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background: var(--token-u21Gzl9DygXI);
  z-index: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__pzZl7 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 160px;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__pzZl7 {
    animation: none;
  }
}
.h1__iKctv {
  animation: none;
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1__iKctv {
    animation: none;
    max-width: 800px;
  }
}
.h1___4GBrK {
  animation: none;
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1___4GBrK {
    animation: none;
    max-width: 800px;
  }
}
.h1__yOkTo {
  animation: none;
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1__yOkTo {
    animation: none;
    max-width: 800px;
  }
}
