.linkDesktopColored {
  background: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-width: 0;
}
.image {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.border {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  border: 1px solid #ffffff80;
}
.screws {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  min-height: 0;
}
._1 {
  background: #ffffff80;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 6px;
}
._2 {
  background: #ffffff80;
  transform: translate(-0.339996337890625px, 0px);
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 6px;
}
._3 {
  background: #ffffff80;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: auto;
  left: 6px;
  right: auto;
  bottom: 6px;
  border-radius: 6px;
}
._4 {
  background: #ffffff80;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 6px;
  right: 6px;
  border-radius: 6px;
}
.overlay2 {
  background: rgba(255, 255, 255, 0);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.img__cD443 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  aspect-ratio: 3/4;
  min-width: 0;
  border-radius: 8px;
}
.img__cD443 > picture > img {
  object-fit: cover;
}
.bottom {
  background: none;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
}
.top2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 279.8599853515625px;
  align-items: center;
  justify-content: space-between;
  padding-right: 5.684341886080802e-14px;
}
.templateName {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___21AfZ {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.container10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 274.6099853515625px;
  align-items: center;
  justify-content: space-between;
}
.freeBox__scK8P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__dMAcD {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__bz3Rk {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___0195R {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__yPp2F {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__aHsjc {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___2J73T {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__iCxR3 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__gZ9Si {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__rD0Oo {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__vHqhX {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__uecmB {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__lfNE {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
