.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
.scrollToTop:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.globalLoading:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.smoothScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__jmxHv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 10;
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
.freeBox__lEpwG {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  min-height: 0;
  padding: 0px;
}
.lineBg__wJgIr:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.scrollContext:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  right: 0;
  mix-blend-mode: difference;
}
.newMenu2:global(.__wab_instance) {
  animation: none;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .newMenu2:global(.__wab_instance) {
    animation: none;
  }
}
.text__ndGkf {
  animation: none;
  letter-spacing: 0px;
}
.tickerHeader:global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 9;
  flex-shrink: 0;
  display: none;
}
.headerHeroSection {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: none;
  height: auto;
  row-gap: 64px;
  display: none;
  padding: 52px 0px 64px;
}
@media (max-width: 930px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
  }
}
.freeBox__wo9Dy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 254px;
}
@media (max-width: 930px) {
  .freeBox__wo9Dy {
    height: 700px;
    flex-shrink: 0;
  }
}
.freeBox__fUTzO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___7DKz0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
  min-width: 0;
  padding: 8px;
}
.h1__czfVh {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  width: auto;
  line-height: 26px;
}
@media (max-width: 930px) {
  .h1__czfVh {
    max-width: 800px;
  }
}
.h1__tuaGm {
  position: relative;
  text-align: left;
}
@media (max-width: 930px) {
  .h1__tuaGm {
    max-width: 800px;
  }
}
.h1__bjaYl {
  position: relative;
  text-align: left;
}
@media (max-width: 930px) {
  .h1__bjaYl {
    max-width: 800px;
  }
}
.freeBox__xTnIx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 52px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__xTnIx {
    margin-top: 18px;
  }
}
.text__gcHxx {
  width: 100%;
  height: auto;
  max-width: 903px;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__gcHxx {
    max-width: 700px;
  }
}
.loved {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.variant1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
}
._1 {
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  border-radius: 40px;
}
.img {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 34px;
}
.e9Q1LJl0QxOyx3A5ZmM8Jeght0YJpg {
  background: url("/plasmic/son_vo/images/e9Q1LJl0QxOyx3A5ZmM8Jeght0YJpg.png") 0px 0px / 34px 34px no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 34px;
}
._2 {
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 41px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 40px;
}
.img2 {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 34px;
}
.tq5Y4EoZfzzak1F6Iy2LfoUgyl8Jpg {
  background: url("/plasmic/son_vo/images/tq5Y4EoZfzzak1F6Iy2LfoUgyl8Jpg.png") 0px 0px / 34px 34px no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 34px;
}
._3 {
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 41px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 40px;
}
.img3 {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 34px;
}
.hYcxfv8XWpTIxIwnhNj33Hl2Lq4Jpg {
  background: url("/plasmic/son_vo/images/hYcxfv8XWpTIxIwnhNj33Hl2Lq4Jpg.png") 0px 0px / 34px 34px no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 34px;
}
._4 {
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 41px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 40px;
}
.img4 {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 34px;
}
._069Sd4E4Rbd50L3X97XsgTvpcJpg {
  background: url("/plasmic/son_vo/images/_069SD4E4Rbd50L3X97XsgTvpcJpg.png") 0px 0px / 34px 34px no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 34px;
}
._5 {
  background: rgba(255, 255, 255, 1);
  width: 40px;
  height: 41px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 40px;
}
.img5 {
  width: 34px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 34px;
}
.vk7E0Slt7OvlQa7QVqyREh2TxqcJpg {
  background: url("/plasmic/son_vo/images/vk7E0Slt7OvlQa7QVqyREh2TxqcJpg.png") 0px 0px / 34px 34px no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 34px;
}
.ratingDetails {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingInfo {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 9.989999771118164px;
  align-items: center;
  justify-content: flex-start;
}
.ratingScore {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__hgk2Q {
  display: block;
  font-size: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.6000000238418579px;
  line-height: 12px;
  position: relative;
}
.starsContainer {
  width: 53px;
  height: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.svg {
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
}
.img__x3PM {
  object-fit: cover;
  max-width: 100%;
  width: 53px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.img__x3PM > picture > img {
  object-fit: cover;
}
.ratingText {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__ek6Jt {
  display: block;
  font-size: 13px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  letter-spacing: -0.12999999523162842px;
  line-height: 18.200000762939453px;
  color: rgba(34, 34, 34, 0.6000000238418579);
  position: relative;
}
.freeBox___22SM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  column-gap: 24px;
  min-width: 0;
  padding: 52px 8px 8px;
}
@media (max-width: 930px) {
  .freeBox___22SM {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.button___6736P:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zQiD4 {
  position: relative;
  height: 1em;
}
.text__e2Nva {
  white-space: pre;
}
.svg__n8W6B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 6px;
  margin-left: 24px;
}
@media (max-width: 930px) {
  .svg__n8W6B {
    margin-top: 3px;
  }
}
.button__aEiCx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__uuWf {
  position: relative;
  height: 1em;
}
.text__suOup {
  white-space: pre;
}
.svg__hci98 {
  position: relative;
  height: 1em;
}
.headerHeroSection4 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: 100vh;
  row-gap: 64px;
  z-index: 2;
  flex-shrink: 0;
  padding: 52px 0px 0px;
}
@media (max-width: 930px) {
  .headerHeroSection4 {
    animation: none;
    padding-bottom: 0px;
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__exuy7 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  min-height: 0;
  padding: 0px 160px;
}
@media (max-width: 930px) {
  .freeBox__exuy7 {
    animation: none;
    height: 700px;
    padding-left: 16px;
    padding-right: 16px;
    flex-shrink: 0;
  }
}
.freeBox__bhbVe {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 40px;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__bhbVe {
    animation: none;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.h1__asJid {
  animation: none;
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .h1__asJid {
    font-size: 210px;
  }
}
@media (max-width: 930px) {
  .h1__asJid {
    animation: none;
    max-width: 800px;
    font-size: 110px;
  }
}
.freeBox__y7Ofn {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 40px;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__y7Ofn {
    animation: none;
  }
}
.h1__kAy9W {
  animation: none;
  text-align: right;
  color: var(--token-47ovROB-Xr2C);
  line-height: 80%;
  font-size: 200px;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .h1__kAy9W {
    font-size: 110px;
  }
}
@media (max-width: 930px) {
  .h1__kAy9W {
    animation: none;
    max-width: 800px;
    font-size: 70px;
  }
}
.h1__nIj0 {
  animation: none;
  text-align: right;
  color: var(--token-47ovROB-Xr2C);
  line-height: 80%;
  font-size: 200px;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .h1__nIj0 {
    font-size: 110px;
  }
}
@media (max-width: 930px) {
  .h1__nIj0 {
    animation: none;
    max-width: 800px;
    font-size: 70px;
  }
}
.h1__q8W0U {
  animation: none;
  text-align: right;
  color: var(--token-47ovROB-Xr2C);
  line-height: 80%;
  font-size: 200px;
  letter-spacing: 0%;
}
@media (max-width: 1024px) {
  .h1__q8W0U {
    font-size: 110px;
  }
}
@media (max-width: 930px) {
  .h1__q8W0U {
    animation: none;
    max-width: 800px;
    font-size: 70px;
  }
}
.freeBox__bxJq4 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 40px;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__bxJq4 {
    animation: none;
  }
}
.h1__maMnc {
  animation: none;
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1__maMnc {
    font-size: 210px;
  }
}
@media (max-width: 930px) {
  .h1__maMnc {
    animation: none;
    max-width: 800px;
    font-size: 110px;
  }
}
.headerHeroSection3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: auto;
  z-index: 2;
  column-gap: 0px;
  padding: 80px 160px;
}
@media (max-width: 1024px) {
  .headerHeroSection3 {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 930px) {
  .headerHeroSection3 {
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
    left: auto;
    top: auto;
    right: auto;
    padding: 40px 16px 0px;
  }
}
.h1__xfsmG {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__xfsmG {
    max-width: 800px;
  }
}
.googleSheetsMultiTool__fXaAs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1___4905H {
  position: relative;
  text-align: left;
  color: var(--token-47ovROB-Xr2C);
  line-height: 100%;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 930px) {
  .h1___4905H {
    max-width: 800px;
  }
}
.h1__mNq9S {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__mNq9S {
    max-width: 800px;
  }
}
.h1__gfPmt {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__gfPmt {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__gfPmt {
    max-width: 800px;
  }
}
.sectionCards3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: none;
  z-index: 3;
  min-width: 0;
  padding: 130px 0px 110px;
}
.container49 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 49.9900016784668px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1800px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 0;
}
.googleSheetsMultiTool__ysLzb:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.patternGrid:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  z-index: 10;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .patternGrid:global(.__wab_instance) {
    animation: none;
  }
}
.revealOnScroll__r0AyH:global(.__wab_instance) {
  animation: none;
  object-fit: cover;
  z-index: 10;
  width: 100%;
  min-width: 0;
}
.templateCard10:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1024px) {
  .templateCard10:global(.__wab_instance) {
    animation: none;
  }
}
.revealOnScroll__mArFx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
}
.section:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 5;
  width: 100%;
  min-width: 0;
}
.freeBox__kg8V9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 24px;
  min-width: 0;
  padding: 80px 0px;
  border-top: 1px solid #ffffffb3;
  border-bottom: 1px solid #ffffffb3;
}
@media (max-width: 930px) {
  .freeBox__kg8V9 {
    max-width: 800px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.freeBox__jqhOk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1___4LdUv {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 26px;
  letter-spacing: 0px;
  min-width: 0;
}
.h1__xs414 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 60px;
  letter-spacing: 0px;
  min-width: 0;
}
.fotterMain___0Yg5A:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.fotterMain__bRaMl:global(.__wab_instance) {
  max-width: 100%;
  opacity: 0;
}
.freeBox__jpMh8 {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100vh;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.lineBg__dnZqG:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
