.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
.scrollToTop:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.globalLoading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.smoothScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__iqKDa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 10;
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
.freeBox__iTmf {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  min-height: 0;
  padding: 0px;
}
.lineBg__zFsLc:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.scrollContext:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  right: 0;
}
.newMenu:global(.__wab_instance) {
  animation: none;
  width: 100%;
  min-width: 0;
}
.text__xOeBx {
  letter-spacing: 0px;
}
.scrollDetector:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  right: 0;
  mix-blend-mode: difference;
}
.headerHeroSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: 100vh;
  row-gap: 64px;
  z-index: 2;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 52px 0px 0px;
}
@media (max-width: 930px) {
  .headerHeroSection2 {
    padding-bottom: 0px;
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__gqa29 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 200vh;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.scrollPlayVideo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.freeBox___0PzuY {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  row-gap: 40px;
  z-index: 2;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 160px 80px;
}
@media (max-width: 1024px) {
  .freeBox___0PzuY {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 930px) {
  .freeBox___0PzuY {
    animation: none;
    height: 700px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__yFg1O {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 0px;
  padding-left: 200px;
  padding-right: 200px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__yFg1O {
    padding: 0px;
  }
}
@media (max-width: 930px) {
  .freeBox__yFg1O {
    animation: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.h1__txiRz {
  animation: none;
  text-align: right;
  color: #ffffff;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
  transition-property: all;
  transition-duration: 1s;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 1024px) {
  .h1__txiRz {
    text-align: left;
  }
}
@media (max-width: 930px) {
  .h1__txiRz {
    animation: none;
    width: auto;
    font-size: 110px;
    text-align: left;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
  }
}
.h1___4DeY9 {
  animation: none;
  text-align: right;
  color: #ffffff;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1024px) {
  .h1___4DeY9 {
    text-align: center;
  }
}
@media (max-width: 930px) {
  .h1___4DeY9 {
    animation: none;
    width: auto;
    font-size: 110px;
    text-align: center;
  }
}
.h1__l3QyM {
  animation: none;
  text-align: right;
  color: #ffffff;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 930px) {
  .h1__l3QyM {
    animation: none;
    width: auto;
    font-size: 110px;
  }
}
.headerHeroSection3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: 100vh;
  row-gap: 64px;
  z-index: 2;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 80px;
}
@media (max-width: 1024px) {
  .headerHeroSection3 {
    height: auto;
  }
}
@media (max-width: 930px) {
  .headerHeroSection3 {
    background: url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat;
    left: auto;
    top: auto;
    right: auto;
    height: auto;
    padding: 40px 16px 0px;
  }
}
.freeBox__hAvRz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 80px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ohi62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.revealOnScroll__eR2Yt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__nU28D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.h1__pfjH6 {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__pfjH6 {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__pfjH6 {
    max-width: 800px;
  }
}
.h1___4S00K {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1024px) {
  .h1___4S00K {
    font-size: 16px;
  }
}
@media (max-width: 930px) {
  .h1___4S00K {
    max-width: 800px;
  }
}
.h1__qg2Zx {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__qg2Zx {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__qg2Zx {
    max-width: 800px;
  }
}
.revealOnScroll__pCnke:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__d4ZOf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.h1__bf2CR {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__bf2CR {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__bf2CR {
    max-width: 800px;
  }
}
.img__nV6Js {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img__nV6Js > picture > img {
  object-fit: cover;
}
.freeBox__gagyi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qm77O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.revealOnScroll__u4Nlw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__svsYs {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__svsYs {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__svsYs {
    max-width: 800px;
  }
}
.revealOnScroll__rpbiA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ltPzr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__q37Zf {
  text-align: left;
  color: var(--token-47ovROB-Xr2C);
  font-family: "Pinyon Script";
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__q37Zf {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__q37Zf {
    max-width: 800px;
  }
}
.h1__c5Rym {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 1024px) {
  .h1__c5Rym {
    font-size: 40px;
  }
}
@media (max-width: 930px) {
  .h1__c5Rym {
    max-width: 800px;
  }
}
.freeBox__fvdK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.revealOnScroll___6XPuD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__fYqar {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 930px) {
  .h1__fYqar {
    max-width: 800px;
  }
}
.revealOnScroll__gszeS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__lAiEk {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 930px) {
  .h1__lAiEk {
    max-width: 800px;
  }
}
.revealOnScroll___0NtTu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h1__ee6RD {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 930px) {
  .h1__ee6RD {
    max-width: 800px;
  }
}
.sectionCards2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: none;
  z-index: 3;
  column-gap: 80px;
  min-height: 100vh;
  min-width: 0;
  padding: 130px 40px 0px;
}
@media (max-width: 930px) {
  .sectionCards2 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 0px;
  }
}
.revealOnScroll__bPUy8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  width: 60%;
}
@media (max-width: 930px) {
  .revealOnScroll__bPUy8:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.left {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 24px;
  width: 100%;
  min-width: 0;
}
.title2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__qDKf9 {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.container4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__eNwwS {
  text-align: left;
  color: #ffffffcc;
  font-size: 15px;
  line-height: 140%;
  font-weight: 700;
}
.link__w0L0X {
  transform: none;
}
.revealOnScroll___8Nx4X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  width: 40%;
}
@media (max-width: 930px) {
  .revealOnScroll___8Nx4X:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.left2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 24px;
  width: 100%;
  min-width: 0;
}
.title4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__ebpLi {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.container5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
._6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__ekQBp {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__ekQBp > picture > img {
  object-fit: cover;
}
.freeBox__ttp4W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__pzEmp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__hFfBo {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___3CpJb {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___3CpJb > picture > img {
  object-fit: cover;
}
.freeBox__qz1Gz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__tmBkA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__eRCqQ {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__vj9DH {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img__vj9DH > picture > img {
  object-fit: cover;
}
.freeBox__c2Ep {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__j7Wt6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__xrtma {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___3MIm1 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___3MIm1 > picture > img {
  object-fit: cover;
}
.freeBox__fwGq7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__jd2Fm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text___9YfMo {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._10 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___92O50 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___92O50 > picture > img {
  object-fit: cover;
}
.freeBox__jvMja {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__cL0We:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__d5ZCj {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._11 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__y0RMb {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__y0RMb > picture > img {
  object-fit: cover;
}
.freeBox__w66Pi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText___9Z1Kc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__dSFaY {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__ugnEh {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ugnEh > picture > img {
  object-fit: cover;
}
.freeBox__lvbPt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__oAxLj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__q5NrP {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.revealOnScroll__k04Nv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  overflow: visible;
}
.sectionCards6 {
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 3;
  flex-direction: row;
  column-gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
  min-width: 0;
}
@media (max-width: 930px) {
  .sectionCards6 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 0px;
  }
}
.heading4 {
  width: 100%;
  height: auto;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  z-index: 4;
  padding-top: 160px;
  overflow: visible;
  min-width: 0;
}
@media (max-width: 1024px) {
  .heading4 {
    width: 50%;
  }
}
@media (max-width: 930px) {
  .heading4 {
    padding-top: 40px;
    position: relative;
    left: auto;
    top: auto;
  }
}
.weTakePrideInProvidingOurClientsWithAnUnforgettableExperienceFromStartToFinishFromBrainstormingSessionsToCastingCallsFromScoutingLocationsToPostProductionWeHandleEveryAspectOfTheFilmmakingProcessWithCareAndAttentionToDetailMyOfferings3 {
  position: relative;
  top: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: auto;
  min-width: 0;
}
.weTakePrideInProvidingOurClientsWithAnUnforgettableExperienceFromStartToFinishFromBrainstormingSessionsToCastingCallsFromScoutingLocationsToPostProductionWeHandleEveryAspectOfTheFilmmakingProcessWithCareAndAttentionToDetailMyOfferings4 {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
}
.eXpertise2 {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__qqIdU {
  display: block;
  font-size: 80px;
  font-family: "Koulen";
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 96px;
  color: #fcfcfc;
}
@media (max-width: 1024px) {
  .text__qqIdU {
    font-size: 70px;
    line-height: 100%;
  }
}
@media (max-width: 930px) {
  .text__qqIdU {
    font-size: 40px;
    line-height: 40px;
  }
}
.freeBox___96BuF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: auto;
  left: auto;
  right: auto;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.an2 {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kTVgZ {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  display: block;
  font-size: 145px;
  font-family: "Pinyon Script";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40%;
  color: rgba(138, 116, 50, 1);
}
@media (max-width: 1024px) {
  .text__kTVgZ {
    font-size: 70px;
    line-height: 100%;
  }
}
@media (max-width: 930px) {
  .text__kTVgZ {
    font-size: 40px;
    line-height: 36px;
  }
}
.skills2 {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uyfyd {
  display: block;
  font-size: 185px;
  font-family: "Koulen";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .text__uyfyd {
    font-size: 70px;
  }
}
@media (max-width: 930px) {
  .text__uyfyd {
    font-size: 40px;
  }
}
.freeBox___83PE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: auto;
  left: auto;
  right: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking3 {
  position: relative;
  top: auto;
  left: auto;
  width: 412px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking3 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking3 {
    width: 100%;
    min-width: 0;
  }
}
.bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking4 {
  display: block;
  font-size: 14px;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 930px) {
  .bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking4 {
    width: 100%;
    min-width: 0;
  }
}
.theAimIsAlwaysTheSameForAllProjectsWhichIsToCreateOneOfAKindHumanCentredExperiencesThatLeaveAPositiveImpact2 {
  position: relative;
  top: auto;
  left: auto;
  width: 429px;
  height: 59px;
  transform: translate(0px, 0.37999725341796875px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .theAimIsAlwaysTheSameForAllProjectsWhichIsToCreateOneOfAKindHumanCentredExperiencesThatLeaveAPositiveImpact2 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .theAimIsAlwaysTheSameForAllProjectsWhichIsToCreateOneOfAKindHumanCentredExperiencesThatLeaveAPositiveImpact2 {
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-bottom: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.text__mSceM {
  display: block;
  font-size: 14px;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
  text-align: left;
}
@media (max-width: 930px) {
  .text__mSceM {
    width: 100%;
    min-width: 0;
  }
}
.container31 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  min-width: 0;
}
@media (max-width: 930px) {
  .container31 {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.subContainer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 40px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .subContainer2 {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 40px;
    padding: 0px;
  }
}
.gridDistortion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
@media (max-width: 930px) {
  .gridDistortion:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__nvBlI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: url("/plasmic/son_vo/images/_1Jpg.jpg") top 50% left 50% / cover repeat;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  aspect-ratio: 2/1.3;
  min-width: 0;
  padding: 0px;
}
.freeBox__vu6GM {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 0;
  min-height: 0;
  padding: 140px 0px;
}
@media (max-width: 1024px) {
  .freeBox__vu6GM {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.infiniteScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.img___2C4Ah {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 240px;
  height: auto;
  bottom: auto;
  right: auto;
  object-fit: cover;
  box-shadow: none;
  border-radius: 8px;
}
.img___2C4Ah > picture > img {
  object-fit: cover;
}
.img__wXhWg {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
}
.img__wXhWg > picture > img {
  object-fit: cover;
}
.hoverLogoCard__rhERm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__tztq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__rdH1D:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience___1B9Gy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__bWUgQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__uc4O5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard___3Dwb4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__nd1Tx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__ykZow:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__rQg9S:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__buRnn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__ww8Ov:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.cardWhatAboutUs5:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.sectionCards3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: none;
  z-index: 6;
  row-gap: 40px;
  min-width: 0;
  padding: 130px 40px 110px;
}
.top5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 80px;
}
.title3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__n8Lv0 {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
  text-align: left;
}
.freeBox__eCiDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  display: none;
  padding: 8px;
}
.templateCard:global(.__wab_instance) {
  width: 100%;
  grid-row-end: span 1;
  grid-column-end: span 2;
  min-width: 0;
}
.templateCard2:global(.__wab_instance) {
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.templateCard3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  min-width: 0;
}
.templateCard4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.templateCard5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.templateCard6:global(.__wab_instance) {
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.templateCard7:global(.__wab_instance) {
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.templateCard8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.patternGrid:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 10;
  width: 100%;
  min-width: 0;
}
.revealOnScroll__dcblC:global(.__wab_instance) {
  object-fit: cover;
  z-index: 10;
  width: 100%;
  min-width: 0;
}
.templateCard9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.revealOnScroll__dDycC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  width: 100%;
  min-width: 0;
}
.section:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 5;
  width: 100%;
  min-width: 0;
}
.freeBox__xd13H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 24px;
  min-width: 0;
  padding: 80px 0px;
  border-top: 1px solid #ffffffb3;
  border-bottom: 1px solid #ffffffb3;
}
@media (max-width: 930px) {
  .freeBox__xd13H {
    max-width: 800px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.freeBox__zqVdz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__g5Obq {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 26px;
  letter-spacing: 0px;
  min-width: 0;
}
.h1__oXjNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 60px;
  letter-spacing: 0px;
  min-width: 0;
}
.fotterMain__js16N:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0px;
  height: auto;
  z-index: 5;
  right: 0;
}
.fotterMain__qvw1P:global(.__wab_instance) {
  max-width: 100%;
  opacity: 0;
}
.freeBox__vPq2 {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100vh;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.lineBg__yYWzm:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
