.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.smoothScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.scrollDetector:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  right: 0;
  mix-blend-mode: difference;
}
.newMenu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 5;
  width: 100%;
  min-width: 0;
}
.link___3ZY76 {
  letter-spacing: 0px;
}
.freeBox__jPgIc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  height: auto;
  background: none;
  z-index: 2;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 80px 0px 0px;
}
.revealOnScroll__asKrh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 4;
  min-width: 0;
}
.section1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
  background: none;
  min-width: 0;
  padding: 97px 60px;
}
.container {
  display: grid;
  position: relative;
  align-self: stretch;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.freeBox__v1Lzq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px;
}
.text__bgpXi {
  display: block;
  font-size: 72px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: -1.7999999523162842px;
  line-height: 90px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.container3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column-start: 5;
  grid-column-end: span 2;
  min-width: 0;
  padding: 0px;
}
.container4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__qs9G2 {
  display: block;
  flex-grow: 1;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 15px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.text__asYu5 {
  display: block;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
}
.container5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text___8NuS9 {
  display: block;
  flex-grow: 1;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 15px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.text__olw5W {
  display: block;
  font-size: 16px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
}
.container6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__vY {
  display: block;
  flex-grow: 1;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 15px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.container35 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text7 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: 32px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text__qNuKv {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.text6 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: 32px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text__uJuVe {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.text9 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text___1Ntk {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.text10 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text__z5FJl {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.text11 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text__ulVik {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.text8 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: 32px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 33554400px;
  padding: 8px 16px;
}
.text__ohE3 {
  display: block;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.30000001192092896px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.freeBox__liSfX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 7;
  grid-column-end: span 2;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 0px 0px 120px;
}
.link__tzl8D {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  max-width: 100%;
  background: rgba(255, 255, 255, 1);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 16px;
}
.text5 {
  width: auto;
  height: 20px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__oAkS5 {
  display: block;
  font-size: 14px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0.3499999940395355px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.container13 {
  background: rgba(0, 0, 0, 1);
  width: 8px;
  height: 8px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  border-radius: 33554400px;
}
.text__tv4Ve {
  display: block;
  font-size: 14px;
  font-family: "Arial";
  letter-spacing: 0.3499999940395355px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}
.revealOnScroll__paJSg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  width: 100%;
  min-width: 0;
}
.freeBox__ykCrA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 3;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  min-width: 0;
}
.img2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 0px 60px 60px;
}
.img__ynlbx {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__ynlbx > picture > img {
  object-fit: cover;
}
.htmlVideo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
}
.revealOnScroll___1DxCq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 4;
  min-width: 0;
}
.section2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
  background: none;
  min-width: 0;
  padding: 97px 60px;
}
.container2 {
  display: grid;
  position: relative;
  align-self: stretch;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.freeBox__rhbV2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px;
}
.text__wkoiu {
  display: block;
  flex-grow: 1;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.container15 {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column-start: 5;
  grid-column-end: span 4;
  width: 100%;
  min-width: 0;
}
.container16 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.heading3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__yF2Gg {
  display: block;
  flex-grow: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1.2000000476837158px;
  line-height: 16px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  text-align: left;
}
.payJustNowIsSouthAfricasLeadingBuyNowPay {
  display: block;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 32.5px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.container36 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading14 {
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.text___3Jxrj {
  display: block;
  flex-grow: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1.2000000476837158px;
  line-height: 16px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  text-align: left;
}
.payJustNowIsSouthAfricasLeadingBuyNowPay1 {
  display: block;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 32.5px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.container37 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading15 {
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.text__lL9Xb {
  display: block;
  flex-grow: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 1.2000000476837158px;
  line-height: 16px;
  color: rgba(153, 161, 175, 1);
  position: relative;
  text-align: left;
}
.payJustNowIsSouthAfricasLeadingBuyNowPay2 {
  display: block;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 32.5px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.revealOnScroll__osazb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 4;
  height: auto;
  min-width: 0;
}
.section7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 40px;
  z-index: 4;
  height: auto;
  min-width: 0;
  padding: 0px 60px;
}
.image1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 1;
  min-width: 0;
}
.video1:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
}
.image2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 1;
  min-width: 0;
}
.video2:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 1;
  min-width: 0;
}
.video3:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video4:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video5:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video6:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.revealOnScroll__ya8RR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 4;
  min-width: 0;
}
.section8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-direction: column;
  z-index: 4;
  row-gap: 60px;
  min-width: 0;
  padding: 96px 60px;
}
.image7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video7:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video8:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video9:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.image10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.video10:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.freeBox__e8Rrk {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  top: 0vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  min-height: 0;
  padding: 0px;
}
.lineBg___0TT0C:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.revealOnScroll__kioo2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 4;
  min-width: 0;
}
.section9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-direction: column;
  z-index: 4;
  row-gap: 60px;
  min-width: 0;
  padding: 96px 60px;
}
.image11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.image12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.image13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.section09 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 4;
  min-width: 0;
  padding: 80px 8px;
}
.theWebsiteBecameAnImportantSpaceToShowcase {
  display: block;
  font-size: 36px;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 54px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: translate(-0.296875px, 0px);
  min-width: 0;
}
.section10 {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  z-index: 4;
  min-width: 0;
  padding: 96px 60px;
}
.revealOnScroll__htcN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 3;
  min-width: 0;
}
.link__tu7Ex {
  display: flex;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 3;
  min-width: 0;
}
.prevous:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img___6WuYe {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.img___6WuYe > picture > img {
  object-fit: cover;
}
.htmlVideo13:global(.__wab_instance) {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__hTbBm {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__gPskd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.service06 {
  animation: none;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__c3T {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service16 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__rMVvb {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service26 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___3SvMl {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service36 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__dXm5R {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service46 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__xj3OR {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service56 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__nXcdf {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.revealOnScroll__vumY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  width: 100%;
  grid-column-start: 4;
  grid-column-end: span 6;
  min-width: 0;
}
.link__hHGuu {
  display: flex;
  width: 100%;
  grid-column-start: 4;
  grid-column-end: span 6;
  min-width: 0;
}
.nExt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__kYdPq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.img__kYdPq > picture > img {
  object-fit: cover;
}
.htmlVideo12:global(.__wab_instance) {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__aqPKy {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__ncCdU {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.service05 {
  animation: none;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__fduP2 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service15 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__wlkKq {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service25 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__vdZfb {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service35 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___1YYe {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service45 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__uSbs {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service55 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__yQmvf {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.fotterMain__gqgXm:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 300px;
}
.fotterMain__twa2V:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  z-index: 1;
  opacity: 0;
}
.freeBox__rnzgC {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100vh;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.lineBg__kpArX:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
