.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
.smoothScroll:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__iqKDa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 10;
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
.freeBox__iTmf {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  min-height: 0;
  padding: 0px;
}
.lineBg__zFsLc:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.scrollDetector:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  right: 0;
  mix-blend-mode: difference;
}
.newMenu:global(.__wab_instance) {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  z-index: 5;
  width: 100%;
  min-width: 0;
}
.headerHeroSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: 100vh;
  row-gap: 64px;
  z-index: 2;
  flex-shrink: 0;
  padding: 52px 0px 0px;
}
@media (max-width: 930px) {
  .headerHeroSection2 {
    padding-bottom: 0px;
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
    left: auto;
    top: auto;
    right: auto;
  }
}
.scrollPlayVideo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 10;
}
.freeBox__xdgmx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 40px;
  z-index: 2;
  min-width: 0;
  min-height: 0;
  padding: 0px 160px;
}
@media (max-width: 930px) {
  .freeBox__xdgmx {
    height: 700px;
    flex-shrink: 0;
  }
}
.freeBox__gYGn {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 32%;
  height: 52%;
  max-width: 100%;
  overflow: hidden;
  display: none;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__bskKq {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img__mG268 {
  object-fit: cover;
  max-width: 100%;
  width: 336px;
  height: 326px;
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 2;
}
.img__mG268 > picture > img {
  object-fit: cover;
}
.freeBox__qfmit {
  position: absolute;
  top: 19px;
  left: 20px;
  max-width: 100%;
  height: 326px;
  width: 336px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background: var(--token-u21Gzl9DygXI);
  z-index: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBox___45NKw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 160px;
  min-width: 0;
}
.h1___5DzwJ {
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1___5DzwJ {
    max-width: 800px;
  }
}
.h1__tfuZe {
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1__tfuZe {
    max-width: 800px;
  }
}
.h1___5AEnJ {
  text-align: right;
  color: #cdcdcd;
  line-height: 80%;
  font-size: 300px;
  letter-spacing: 0%;
}
@media (max-width: 930px) {
  .h1___5AEnJ {
    max-width: 800px;
  }
}
.headerHeroSection3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  background: none;
  height: auto;
  row-gap: 64px;
  z-index: 2;
  width: 100%;
  min-width: 0;
  padding: 80px 160px;
}
@media (max-width: 930px) {
  .headerHeroSection3 {
    padding-bottom: 0px;
    background:
      url("/plasmic/son_vo/images/heroImageSvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__ohi62 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__nU28D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.h1__pfjH6 {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__pfjH6 {
    max-width: 800px;
  }
}
.h1___4S00K {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 930px) {
  .h1___4S00K {
    max-width: 800px;
  }
}
.h1__qg2Zx {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__qg2Zx {
    max-width: 800px;
  }
}
.freeBox__d4ZOf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.h1__bf2CR {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__bf2CR {
    max-width: 800px;
  }
}
.img__nV6Js {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img__nV6Js > picture > img {
  object-fit: cover;
}
.freeBox__gagyi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qm77O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.h1__svsYs {
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__svsYs {
    max-width: 800px;
  }
}
.freeBox__ltPzr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__q37Zf {
  text-align: left;
  color: var(--token-47ovROB-Xr2C);
  font-family: "Pinyon Script";
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__q37Zf {
    max-width: 800px;
  }
}
.h1__c5Rym {
  position: relative;
  text-align: left;
  color: var(--token-VsMZPNxcE2dF);
  line-height: 100%;
}
@media (max-width: 930px) {
  .h1__c5Rym {
    max-width: 800px;
  }
}
.revealOnScroll__bPUy8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
}
.sectionCards2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: none;
  z-index: 3;
  column-gap: 80px;
  min-height: 100vh;
  min-width: 0;
  padding: 130px 40px 0px;
}
.left {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 24px;
  width: 61%;
}
.title2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__qDKf9 {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.container4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__eNwwS {
  text-align: left;
  color: #ffffffcc;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
}
.left2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 24px;
  width: 40%;
}
.title4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__ebpLi {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.container5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
._6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__ekQBp {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__ekQBp > picture > img {
  object-fit: cover;
}
.freeBox__ttp4W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__pzEmp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__hFfBo {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___3CpJb {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___3CpJb > picture > img {
  object-fit: cover;
}
.freeBox__qz1Gz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__tmBkA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__eRCqQ {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__vj9DH {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img__vj9DH > picture > img {
  object-fit: cover;
}
.freeBox__c2Ep {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__j7Wt6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__xrtma {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___3MIm1 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___3MIm1 > picture > img {
  object-fit: cover;
}
.freeBox__fwGq7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__jd2Fm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text___9YfMo {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._10 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img___92O50 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
}
.img___92O50 > picture > img {
  object-fit: cover;
}
.freeBox__jvMja {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__cL0We:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__d5ZCj {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._11 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__y0RMb {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__y0RMb > picture > img {
  object-fit: cover;
}
.freeBox__w66Pi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText___9Z1Kc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__dSFaY {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
._12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img__ugnEh {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ugnEh > picture > img {
  object-fit: cover;
}
.freeBox__lvbPt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hackerText__oAxLj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffffcc;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
}
.text__q5NrP {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: var(--token-qc-_vvn1BAsp);
  position: relative;
  text-align: left;
}
.revealOnScroll__k04Nv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
  overflow: visible;
}
.sectionCards6 {
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 3;
  flex-direction: row;
  column-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  min-width: 0;
}
.heading4 {
  width: 40vw;
  height: auto;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  z-index: 4;
  padding-top: 160px;
  overflow: visible;
  flex-shrink: 0;
}
.weTakePrideInProvidingOurClientsWithAnUnforgettableExperienceFromStartToFinishFromBrainstormingSessionsToCastingCallsFromScoutingLocationsToPostProductionWeHandleEveryAspectOfTheFilmmakingProcessWithCareAndAttentionToDetailMyOfferings3 {
  position: relative;
  top: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: auto;
  min-width: 0;
}
.weTakePrideInProvidingOurClientsWithAnUnforgettableExperienceFromStartToFinishFromBrainstormingSessionsToCastingCallsFromScoutingLocationsToPostProductionWeHandleEveryAspectOfTheFilmmakingProcessWithCareAndAttentionToDetailMyOfferings4 {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
}
.eXpertise2 {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__qqIdU {
  display: block;
  font-size: 80px;
  font-family: "Koulen";
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 96px;
  color: #fcfcfc;
}
.freeBox___96BuF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: auto;
  left: auto;
  right: auto;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.an2 {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kTVgZ {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  display: block;
  font-size: 145px;
  font-family: "Pinyon Script";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40%;
  color: rgba(138, 116, 50, 1);
}
.skills2 {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uyfyd {
  display: block;
  font-size: 185px;
  font-family: "Koulen";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #ffffff;
}
.freeBox___83PE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: auto;
  left: auto;
  right: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking3 {
  position: relative;
  top: auto;
  left: auto;
  width: 412px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.bridgingEmotionAndClarityMyDesignPracticeGenerallyEvolvesAroundStorytellingResearchAndEnterpriseDesignThinking4 {
  display: block;
  font-size: 14px;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
  text-align: left;
}
.theAimIsAlwaysTheSameForAllProjectsWhichIsToCreateOneOfAKindHumanCentredExperiencesThatLeaveAPositiveImpact2 {
  position: relative;
  top: auto;
  left: auto;
  width: 429px;
  height: 59px;
  transform: translate(0px, 0.37999725341796875px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text__mSceM {
  display: block;
  font-size: 14px;
  font-family: "Roboto Mono";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 19.600000381469727px;
  color: #ffffff;
  text-align: left;
}
.container31 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  min-width: 0;
}
.subContainer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
  min-width: 0;
  padding: 8px;
}
.gridDistortion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.hoverLogoCard__rhERm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__tztq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__rdH1D:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience___1B9Gy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__bWUgQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__uc4O5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard___3Dwb4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__nd1Tx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__ykZow:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__rQg9S:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.hoverLogoCard__buRnn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.cardExperience__ww8Ov:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.cardWhatAboutUs5:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.sectionCards3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: none;
  z-index: 3;
  min-width: 0;
  padding: 130px 0px 110px;
}
.container49 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 49.9900016784668px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1800px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 0;
}
.top5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 80px;
}
.title3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8px;
}
.text__n8Lv0 {
  display: block;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  letter-spacing: -0.47999998927116394px;
  line-height: 26.399999618530273px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
  text-align: left;
}
.freeBox__eCiDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  display: none;
  padding: 8px;
}
.templateCard__kjLfa:global(.__wab_instance) {
  width: 100%;
  grid-row-end: span 1;
  grid-column-end: span 2;
  min-width: 0;
}
.img__vJhaM {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
}
.img__vJhaM > picture > img {
  object-fit: cover;
}
.text__xahM {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__sibwu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: auto;
  max-width: 16px;
  padding: 0px;
}
.svg__f7YRv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__wjKzC {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__zzcE3:global(.__wab_instance) {
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.img__dr4K9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
}
.img__dr4K9 > picture > img {
  object-fit: cover;
}
.text__sppqW {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__cDlMg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: auto;
  max-width: 16px;
  padding: 0px;
}
.svg__e4W4B {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__p0Not {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__tJ9Vu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  min-width: 0;
}
.img___4IvH {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
}
.img___4IvH > picture > img {
  object-fit: cover;
}
.text__nypRk {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__nJAl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__gvUay {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__iraxe {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___1JDu5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___7Oj4S {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__ldoKx {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__tsu3F {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__rn1Kd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___6Skmp {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__qQ3Xe {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__nyL0O {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__tMoeL {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__gMUM {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__ph9Rz:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.img__xcLz3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
}
.img__xcLz3 > picture > img {
  object-fit: cover;
}
.text__eipId {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__o1Ew {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__dVpeZ {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__o5G1 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__dkLlu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__rAi1 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__qimob {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__rGCp {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___3Gl29 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__dMMjp {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__gxgu8 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__kj32 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___2NVpu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__eTQjX {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__aFDmY:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.img__cYMln {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
}
.img__cYMln > picture > img {
  object-fit: cover;
}
.text__ckZmr {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__qEbGk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__i4I3 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__dgr9G {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__hZeqj {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__wwoy6 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__hMefg {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___1Nipv {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___9JXaO {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__ss7Ww {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox__veGrU {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__pqxAm {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.freeBox___1OlOi {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__pztxW {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__aIxZ1:global(.__wab_instance) {
  width: 100%;
  grid-column-end: span 2;
  min-width: 0;
}
.img__k3Ja4 {
  aspect-ratio: 3/3;
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 10px 10px 8px 8px;
}
.img__k3Ja4 > picture > img {
  object-fit: cover;
}
.text__ogyBm {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__ccPtW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: auto;
  max-width: 16px;
  padding: 0px;
}
.svg___1OYjA {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__sbTRk {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard___4Ry74:global(.__wab_instance) {
  width: 100%;
  opacity: 0;
  min-width: 0;
}
.img__aMmid {
  aspect-ratio: 3/4;
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 10px 10px 8px 8px;
}
.img__aMmid > picture > img {
  object-fit: cover;
}
.text__s7Ly {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__imMaw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: auto;
  max-width: 16px;
  padding: 0px;
}
.svg__x68Sn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__p2R85 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.templateCard__rQccR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__i5C4E {
  aspect-ratio: 3/3;
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 334px;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 10px 10px 8px 8px;
}
.img__i5C4E > picture > img {
  object-fit: cover;
}
.text__mOrdx {
  animation: none;
  display: block;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 24px;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__e77Zt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 16px;
  height: auto;
  max-width: 16px;
  padding: 0px;
}
.svg__dVoub {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__xQ6I6 {
  animation: none;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  line-height: 10px;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.patternGrid:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 10;
}
.revealOnScroll__dcblC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 10;
}
.templateCard__v8YCw:global(.__wab_instance) {
  max-width: 100%;
}
.link__zpuve {
  display: flex;
  pointer-events: none;
}
.htmlVideo4:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.img___61Kud {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background: url("/plasmic/son_vo/images/gHOkTYo9C3G7TejBsyg9X2SjueJpg.png");
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.img___61Kud > picture > img {
  object-fit: cover;
}
.link___65S8H {
  animation: none;
  display: block;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.47999998927116394px;
  line-height: 160%;
  color: var(--token-VsMZPNxcE2dF);
  position: relative;
}
.freeBox__yjJzD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.service05 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___3Hss2 {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service15 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__lst75 {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service25 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__yMJf1 {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service35 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text___30HbQ {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service45 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__k8Svf {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.service55 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  background: var(--token-Yq556PvPjGii);
  overflow: visible;
  border-radius: 2px;
  padding: 4px;
}
.text__dPcUv {
  animation: none;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 108%;
  color: rgba(34, 34, 34, 1);
  position: relative;
}
.revealOnScroll__dDycC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 4;
}
.section:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 5;
  width: 100%;
  min-width: 0;
}
.freeBox__xd13H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 24px;
  min-width: 0;
  padding: 80px 0px;
  border-top: 1px solid #ffffffb3;
  border-bottom: 1px solid #ffffffb3;
}
@media (max-width: 930px) {
  .freeBox__xd13H {
    max-width: 800px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.freeBox__zqVdz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__g5Obq {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 26px;
  letter-spacing: 0px;
  min-width: 0;
}
.h1__oXjNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Tinos", serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  line-height: 60px;
  letter-spacing: 0px;
  min-width: 0;
}
.fotterMain__js16N:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0px;
  top: 40px;
  z-index: 5;
}
.fotterMain__qvw1P:global(.__wab_instance) {
  max-width: 100%;
  opacity: 0;
}
.freeBox__vPq2 {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100vh;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.lineBg__yYWzm:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
